#navbar {
  border: 1px solid #dbdbdb;
  background-color: #fff;
}
#navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  background-color: #fff;
}
#navbar .container #logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar .container #search-bar form {
  width: 199px;
  display: block;
}

#navbar .container #search-bar form input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
  width: 100%;
  height: 20px;
  padding: 3px 10px;
  background-color: #fafafa;
  color: #9a9a9a;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  font-weight: 300;
  font-size: 14px;
}
#navbar .container #icon-list {
  width: 200px;
}
#navbar .container #icon-list ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
